:root {
  --shadowFilter: drop-shadow(5px 5px 5px white);
}
footer {
  background: rgba(10, 37, 62, 1);
}
.github-icon svg:hover {
  color: black !important;
  filter: var(--shadowFilter);
}
.linkedin-icon svg:hover {
  color: #006eab !important;
  filter: var(--shadowFilter);
}
.instagram-icon svg:hover {
  color: #dd2a7c !important;
  filter: var(--shadowFilter);
}
.twitter-icon svg:hover {
  color: #1c9cea !important;
  filter: var(--shadowFilter);
}
.facebook-icon svg:hover {
  color: #034f9b !important;
  filter: var(--shadowFilter);
}
