.scrollWebkit::-webkit-scrollbar {
  height: 7px;
  background: linear-gradient(
    180.3deg,
    rgb(221, 221, 221) 5.5%,
    rgb(110, 136, 161) 90.2%
  );
  border-radius: 10px;
}
.scrollWebkit::-webkit-scrollbar-thumb {
  background: linear-gradient(
    109.6deg,
    rgb(36, 45, 57) 11.2%,
    rgb(16, 37, 60) 51.2%,
    rgb(0, 0, 0) 98.6%
  );
  border-radius: 10px;
}
.progressbar {
  top: 0;
}
.icon-shadow{
  filter: drop-shadow(0 0 5px rgb(10,36,62));
}



