.pagination-button:disabled {
  color: gray !important;
}

.pagination-button {
  color: white;
}

button {
  background: transparent;
}

.deactive {
  background: transparent !important;
  border: 0.5px solid white !important;
  color: white !important;
}

.activebtn {
  background: white!important;
  color: #0A253E!important;
}

#pagination-container>.active {
  border: 0.5px solid white !important;
  background: white;
}