#user-image-profile {
  position: relative;
  box-shadow: 0 0 15px rgba(10, 37, 62);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: cover;
  max-width: 280px;
  max-height: 280px;
  aspect-ratio: 5/5;
  border-radius: 50%;
}
.img-upload {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 0;
  height: 0;
  display: none;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  transition: all 0.5s ease-in-out;
  z-index: 0;
}
.img-container {
  transition: all 0.5s ease-in-out;
}
.img-container:hover .img-upload {
  display: block;
  width: 100%;
  height: 100%;
  z-index: 20;
  border-radius: 50%;
}
