:root {
  --mainColor: rgba(10, 37, 62, 1);
  --background: #cae8d5;
  --items: #3b6978;
  --items-bg: #84a9ac;
  --deleteBg: rgb(162, 42, 42);
  --red: #f2515e;
  --like: #2eb086;
  --dislike: #e64848;
}

* {
  font-family: "Raleway", sans-serif;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

html,
body,
.App,
.App>div {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  background: #0A253E;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Righteous", cursive;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.mainColor {
  background: var(--mainColor);
  color: white;
}

.ant-collapse {
  /* border: 1px solid white!important; */
  background: #0A253E;
  filter: drop-shadow(0 0 3px #268cec) !important;
  border: none !important;
}

.ant-progress-inner>.ant-progress-text {
  color: white !important;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  width: 90% !important;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border-radius: 100%;
}

.webkitHeader-h4 {
  color: white;
  font-size: 1.7rem !important;
  display: inline-block !important;
  width: max-content;
  margin: 0 auto;
  border-bottom: 3px solid white;
  border-radius: 5px;
  padding: 0 10px;
}

.darkBtn {
  background: rgba(10, 37, 62, 0.9);
}

.cursor-pointer {
  cursor: pointer;
}

.designBorder {
  width: 100% !important;
  height: 30px;
  background: rgba(10, 37, 62, 1);
  clip-path: polygon(0% 45%,
      33% 45%,
      33% 30%,
      50% 50%,
      66% 30%,
      66% 45%,
      100% 45%,
      100% 55%,
      66% 55%,
      66% 70%,
      33% 70%,
      33% 55%,
      0% 55%);
}

.slick-arrow,
.slick-next,
.slick-prev {
  display: none !important;
}

.aspect-ratio {
  aspect-ratio: 7/3;
}

@media only screen and (max-width: 620) {
  .slick-arrow {
    display: none !important;
  }
}

/* .mask {
    -webkit-mask-image: url(./assets/images/mask.png);
    mask-image: url(./assets/images/mask.png);
    -webkit-mask-position: top;
    mask-position: top;
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100%;
    mask-border-mode: black;
  } */
.upcoming-image-container {
  background-repeat: no-repeat;
  background-size: cover !important;
}